$green: #053C66;
// $green-transparent: #34ada187;
$yellow: #FFC107;
$green-outline: #009688;
$black: #000;
$white: #fff;
$grey: #7c7c7c;
$dark_grey: #343a40;
$light_grey: #ebebeb;
$font_body: 'Libre Franklin', sans-serif;
$font_heading: 'Libre Baskerville', serif;
// $overlay_color: #80808059;

// general
html {
	height: 100%;
}
body {
	font-family: $font_body;
	font-weight: 300;
	line-height: 1.5;
	font-size: 1.2rem;
	position: relative;

}

::-webkit-scrollbar {
	width: 6px;
	border-left: 1px solid #E6ECF8;
}
::-webkit-scrollbar-thumb {
	background-color: $dark_grey;
}
[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
}
[type=submit] {
	-webkit-appearance: none;
	cursor: pointer;
}
h1 {
	font-family: $font_heading;
    color: $white;
}
h2 {
	font-family: $font_heading;
	color: $black;
	span {
		color: $green;
	}
}
h4 {
	font-weight: 600;
	color: $black;
}
h4.card-title {
	&:before {
		border-color: $grey;
	}
}
.bg-light {
	background-color: $light_grey !important;
}

.bg-yellow{ 
    background-color: $yellow;
}

.bg-color {
	position: fixed;
	width: 100%;
	height: 27em;
	background-color: $yellow;
	z-index: -1;
	top: 0;
	left: 0;
	&.white {
		position: fixed;
		background-color: $white;
	}
}
.wrap-white {
	background-color: $white;
	padding-bottom: 1em;
}

.bg-half {
	z-index: -1;
	position: absolute;
	width: 100%;
}

.color-bg {
    background-color: $yellow;
    position: fixed;
    width: 100%;
    height: 27em;;
	z-index: -1;
	&.white {
		background-color: $white;
		top: 26em;
		position: static;
	}
}

.text-dark {
    color: $black !important;
}
// components
.fab {
	&:hover {
		color: $green !important;
		transition: all 100ms ease;
	}
}
.overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #80808059;
	z-index: 10;
	transition: display 200ms ease 200ms;
    &.show {
	    display: block;
    }
}
// action classes
.show-onHover {
	display: none;
}
a {
	&:hover {
		.hide-onHover {
			display: none;
		}
		.show-onHover {
			display: block;
			z-index: 1;
		}
	}
}
.active {
	font-size: 1.2rem;
	position: relative;
    transition: 0.4s linear;
    z-index: 2;
	&:after {
		content: '';
		background-color: $yellow;
		height: 8px;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5%;
		z-index: -1;
		transform: scaleY(1);
		transition: 0.2s ease-in-out .2s;
		margin-bottom: 10px;
	}
	&:hover {
		&:before {
			transform: scaleY(1.5);
			transition: 0.2s ease-in-out .2s;
		}
	}
}
.underline-btn {
	a {
		font-size: 1.2rem;
		position: relative;
		&:hover {
			text-decoration: none;
			&:before {
				transform: scaleY(1.5);
				transition: 0.2s ease-in-out .2s;
			}
		}
		&:before {
			content: '';
			background-color: white;
			height: 8px;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 5%;
			z-index: -1;
			transform: scaleY(1);
			transition: 0.2s ease-in-out .2s;
			margin-top: -10px;
		}
	}
}
// navigation
.navbar {
	width: 17em;
	right: 0;
	top: 0;
    position: fixed;
    .navbar-collapse-custom {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(1, 0, 0, 1) 0ms, right 300ms cubic-bezier(1, 0, 0, 1) 0ms;
        -moz-transition: -moz-transform 300ms cubic-bezier(1, 0, 0, 1) 0ms, right 300ms cubic-bezier(1, 0, 0, 1) 0ms;
        transition: transform 300ms cubic-bezier(1, 0, 0, 1) 0ms, right 300ms cubic-bezier(1, 0, 0, 1) 0ms;
        right: -400px;
        top: 0;
        height: 100vh;
        width: 100%;
        box-shadow: -7px 0px 10px -2px #9e9e9eb5;
        background-color: $white;
        &.show {
            right: 0;
        }
        .navbar-nav {
            display: inline-block;
            padding-top: 50%;
            .nav-link {
                color: $black;
                font-size: 2rem;
                display: inline;
                &.active {
                    &:before {
                    z-index: 0;
                    }
                }
            }
		}
		.nav-bottom-links {
			width: 61%;
			p {
				font-size: 0.9rem;
				font-weight: 600;
			}
			.list-inline {
				width: 100%;

				img {
					vertical-align: baseline;
				}
			}
		}
    }
}
.hamburger-to-close {
	width: 40px;
	height: 61px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 20%;
	z-index: 100;
	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 4px;
		background-color: $black;
		border-radius: 10px;
		top: 20px;
		transition: top 200ms ease 200ms, -webkit-transform ease 200ms;
		transition: top 200ms ease 200ms, transform ease 200ms;
		transition: top 200ms ease 200ms, transform ease 200ms, -webkit-transform ease 200ms;
	}
	&:after {
		content: '';
		position: absolute;
		width: 40px;
		height: 4px;
		background-color: $black;
		border-radius: 10px;
		bottom: 20px;
		transition: bottom 200ms ease 200ms, -webkit-transform ease 200ms;
		transition: bottom 200ms ease 200ms, transform ease 200ms;
		transition: bottom 200ms ease 200ms, transform ease 200ms, -webkit-transform ease 200ms;
	}
	.hamburger-middle {
		position: absolute;
		width: 40px;
		height: 4px;
		background-color: $black;
		border-radius: 10px;
		top: 50%;
		margin-top: -2px;
		transition: -webkit-transform ease 200ms;
		transition: transform ease 200ms;
		transition: transform ease 200ms, -webkit-transform ease 200ms;
	}
}
.hamburger-to-close.close {
	.hamburger-middle {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		transition: -webkit-transform 200ms ease 200ms;
		transition: transform 200ms ease 200ms;
		transition: transform 200ms ease 200ms, -webkit-transform 200ms ease 200ms;
	}
	&:before {
		top: 28px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		transition: top ease 200ms, -webkit-transform 200ms ease 200ms;
		transition: top ease 200ms, transform 200ms ease 200ms;
		transition: top ease 200ms, transform 200ms ease 200ms, -webkit-transform 200ms ease 200ms;
	}
	&:after {
		bottom: 28px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		transition: bottom ease 200ms, -webkit-transform 200ms ease 200ms;
		transition: bottom ease 200ms, transform 200ms ease 200ms;
		transition: bottom ease 200ms, transform 200ms ease 200ms, -webkit-transform 200ms ease 200ms;
	}
}

// styling
#hero {
	.copy-text {
		font-size: 2.5rem;
	}
}

.btn-round-filled {
	background-color: $green;
	border-color: $green;
}

#about-text {
	position: relative;
	opacity: 0;
	-webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
	-o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
	transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    &.visible {
        opacity: 1;
        .wrapper {
            span {
                -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }
}
.wrapper {
	span {
		display: block;
		-webkit-transform: translateY(20px) rotate(3deg);
		-ms-transform: translateY(20px) rotate(3deg);
		transform: translateY(20px) rotate(3deg);
		opacity: 0;
		-webkit-transition: transform 0.65s ease, opacity 0.65s ease;
		-o-transition: transform 0.65s ease, opacity 0.65s ease;
		-webkit-transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
		transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
		transition: transform 0.65s ease, opacity 0.65s ease;
		transition: transform 0.65s ease, opacity 0.65s ease, -webkit-transform 0.65s ease;
		&:nth-child(1) {
			-webkit-transition-delay: 0s;
			-o-transition-delay: 0s;
			transition-delay: 0s;
		}
		&:nth-child(2) {
			-webkit-transition-delay: 0.1s;
			-o-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
		&:nth-child(3) {
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
		&:nth-child(4) {
			-webkit-transition-delay: 0.3s;
			-o-transition-delay: 0.3s;
			transition-delay: 0.3s;
		}
	}
}

.btn-lang {
	button.rounded-circle {
		width: 4.5rem;
		height: 4.5rem;
		padding: 0.3em;
		border: 2px solid;
		cursor: auto !important;
		font-weight: 500;
	}
}
.btn-frame {
	p {
        font-weight: 500;
        span {
            color: $green;
        }
	}
}
#skills {
	position: relative;
	z-index: 1;
    .container {
		position: relative;
        .bg-white {
            -webkit-box-shadow: 0px 12px 10px -2px rgba(235,235,235,1);
            -moz-box-shadow: 0px 12px 10px -2px rgba(235,235,235,1);
            box-shadow: 0px 7px 10px -2px rgba(235,235,235,1);
            h4 {
                margin-bottom: 2.5rem;
            }
            .list-services {
                li {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $dark_grey;
                }
            }
        }
    }
}

#projects {
	background-color: $white;
}

.card {
	border: 0;
	// &:hover {
	// 	.img-static {
	// 		display: none;
	// 	}
	// 	.img-active {
	// 		display: block;
	// 	}
	// }
	// .img-static {
	// 	display: block;
	// }
	// .img-active {
	// 	display: none;
	// }
	.card-img-overlay {
		display: none;
	}
}

#contact {
	li {
		height: 29px;
		width: 29px;
    }
    form {
        .underline-btn {
            a {
                z-index: 1;
                &:before {
                    z-index: -1;
                }
            } 
        }
        .form-control {
            &:focus {
                border-color: $green;
                box-shadow: 0 0 0 0.2rem #0f63a475;
            }
        }
    }
}






