html {
  height: 100%; }

body {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
  position: relative; }

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8; }

::-webkit-scrollbar-thumb {
  background-color: #343a40; }

[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer; }

[type=submit] {
  -webkit-appearance: none;
  cursor: pointer; }

h1 {
  font-family: "Libre Baskerville", serif;
  color: #fff; }

h2 {
  font-family: "Libre Baskerville", serif;
  color: #000; }
  h2 span {
    color: #0F63A4; }

h4 {
  font-weight: 600;
  color: #000; }

h4.card-title:before {
  border-color: #7c7c7c; }

.bg-light {
  background-color: #ebebeb !important; }

.bg-yellow {
  background-color: #FFC107; }

.bg-half {
  z-index: -1;
  position: absolute;
  width: 100%; }

.color-bg {
  background-color: #FFC107;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1; }

.fab:hover {
  color: #0F63A4 !important;
  transition: all 100ms ease; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #80808059;
  z-index: 10;
  transition: display 200ms ease 200ms; }
  .overlay.show {
    display: block; }

.show-onHover {
  display: none; }

a:hover .hide-onHover {
  display: none; }
a:hover .show-onHover {
  display: block;
  z-index: 1; }

.active {
  font-size: 1.2rem;
  position: relative;
  transition: 0.4s linear;
  z-index: 2; }
  .active:after {
    content: '';
    background-color: #FFC107;
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: -1;
    transform: scaleY(1);
    transition: 0.2s ease-in-out .2s;
    margin-bottom: 10px; }
  .active:hover:before {
    transform: scaleY(1.5);
    transition: 0.2s ease-in-out .2s; }

.underline-btn a {
  font-size: 1.2rem;
  position: relative; }
  .underline-btn a:hover {
    text-decoration: none; }
    .underline-btn a:hover:before {
      transform: scaleY(1.5);
      transition: 0.2s ease-in-out .2s; }
  .underline-btn a:before {
    content: '';
    background-color: white;
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: -1;
    transform: scaleY(1);
    transition: 0.2s ease-in-out .2s;
    margin-top: -10px; }

.navbar {
  width: 25%;
  right: 0;
  top: 0;
  position: fixed; }
  .navbar .navbar-collapse-custom {
    position: absolute;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(1, 0, 0, 1) 0ms, right 300ms cubic-bezier(1, 0, 0, 1) 0ms;
    -moz-transition: -moz-transform 300ms cubic-bezier(1, 0, 0, 1) 0ms, right 300ms cubic-bezier(1, 0, 0, 1) 0ms;
    transition: transform 300ms cubic-bezier(1, 0, 0, 1) 0ms, right 300ms cubic-bezier(1, 0, 0, 1) 0ms;
    right: -400px;
    top: 0;
    height: 100vh;
    width: 100%;
    box-shadow: -7px 0px 10px -2px #9e9e9eb5;
    background-color: #fff; }
    .navbar .navbar-collapse-custom.show {
      right: 0; }
    .navbar .navbar-collapse-custom .navbar-nav {
      display: inline-block;
      padding-top: 50%; }
      .navbar .navbar-collapse-custom .navbar-nav .nav-link {
        color: #000;
        font-size: 2rem;
        display: inline; }
        .navbar .navbar-collapse-custom .navbar-nav .nav-link.active:before {
          z-index: 0; }

.hamburger-to-close {
  width: 40px;
  height: 61px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: 100; }
  .hamburger-to-close:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    top: 20px;
    transition: top 200ms ease 200ms, -webkit-transform ease 200ms;
    transition: top 200ms ease 200ms, transform ease 200ms;
    transition: top 200ms ease 200ms, transform ease 200ms, -webkit-transform ease 200ms; }
  .hamburger-to-close:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    bottom: 20px;
    transition: bottom 200ms ease 200ms, -webkit-transform ease 200ms;
    transition: bottom 200ms ease 200ms, transform ease 200ms;
    transition: bottom 200ms ease 200ms, transform ease 200ms, -webkit-transform ease 200ms; }
  .hamburger-to-close .hamburger-middle {
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    top: 50%;
    margin-top: -2px;
    transition: -webkit-transform ease 200ms;
    transition: transform ease 200ms;
    transition: transform ease 200ms, -webkit-transform ease 200ms; }

.hamburger-to-close.close .hamburger-middle {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: -webkit-transform 200ms ease 200ms;
  transition: transform 200ms ease 200ms;
  transition: transform 200ms ease 200ms, -webkit-transform 200ms ease 200ms; }
.hamburger-to-close.close:before {
  top: 28px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: top ease 200ms, -webkit-transform 200ms ease 200ms;
  transition: top ease 200ms, transform 200ms ease 200ms;
  transition: top ease 200ms, transform 200ms ease 200ms, -webkit-transform 200ms ease 200ms; }
.hamburger-to-close.close:after {
  bottom: 28px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: bottom ease 200ms, -webkit-transform 200ms ease 200ms;
  transition: bottom ease 200ms, transform 200ms ease 200ms;
  transition: bottom ease 200ms, transform 200ms ease 200ms, -webkit-transform 200ms ease 200ms; }

#hero .copy-text {
  font-size: 2.5rem; }

.btn-round-filled {
  background-color: #0F63A4;
  border-color: #0F63A4; }

#about-text {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
  -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
  transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1); }
  #about-text.visible {
    opacity: 1; }
    #about-text.visible .wrapper span {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1; }

.wrapper span {
  display: block;
  -webkit-transform: translateY(20px) rotate(3deg);
  -ms-transform: translateY(20px) rotate(3deg);
  transform: translateY(20px) rotate(3deg);
  opacity: 0;
  -webkit-transition: transform 0.65s ease, opacity 0.65s ease;
  -o-transition: transform 0.65s ease, opacity 0.65s ease;
  -webkit-transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
  transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
  transition: transform 0.65s ease, opacity 0.65s ease;
  transition: transform 0.65s ease, opacity 0.65s ease, -webkit-transform 0.65s ease; }
  .wrapper span:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  .wrapper span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .wrapper span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .wrapper span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }

.btn-lang button.rounded-circle {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.3em;
  border: 2px solid;
  cursor: auto !important;
  font-weight: 500; }

.btn-frame p {
  font-weight: 500; }
  .btn-frame p span {
    color: #0F63A4; }

#skills {
  position: relative; }
  #skills .container {
    position: relative; }
    #skills .container .bg-white {
      -webkit-box-shadow: 0px 12px 10px -2px #ebebeb;
      -moz-box-shadow: 0px 12px 10px -2px #ebebeb;
      box-shadow: 0px 7px 10px -2px #ebebeb; }
      #skills .container .bg-white h4 {
        margin-bottom: 2.5rem; }
      #skills .container .bg-white .list-services li {
        font-size: 1.3rem;
        font-weight: 500;
        color: #343a40; }

.card {
  border: 0; }
  .card:hover .shiran {
    background: url(../img/Shiran.gif);
    height: -webkit-fill-available;
    max-height: 216px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; }
  .card .shiran {
    background: url(../img/shiransccr.png); }
  .card .img-fluid {
    height: -webkit-fill-available;
    max-height: 216px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; }
  .card .card-img-overlay {
    opacity: 0;
    background-color: #0F63A4;
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
        /* .card:hover .card-img-overlay {
    opacity: 1;
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
} */ }
    .card .card-img-overlay .card-text:last-child {
      bottom: 0;
      position: absolute;
      margin-bottom: 1rem; }

#contact li {
  height: 29px;
  width: 29px; }
#contact form .underline-btn a {
  z-index: 1; }
  #contact form .underline-btn a:before {
    z-index: -1; }
#contact form .form-control:focus {
  border-color: #009688;
  box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.18); }

/*# sourceMappingURL=custom.css.map */
