/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-brand {
    font-size: 1.75rem;
}

.bg-light {
    background-color: #ebebeb!important;
}

body {
    font-family: "europa",sans-serif;    
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: #293347;
}

h1, h2, h4 {
    font-family: "eurostile",sans-serif;
}

h1 {
    opacity: 0.1;
}

h2, h4 {
    color: #7c7c7c;
}

h2 span {
    color: #34ada1;
}

h4:before {
    border-bottom: 4px dotted #34ada1;
    width: 5px;
    display: inline-block;
    content: '';
    margin-right: 0.1em;
}

h4.card-title:before {
    border-color: #7c7c7c;
}

li.nav-item {
    width: 80px;
}

#hero .copy-text {
    font-size: 2.5rem;
}


.btn-green {
    background-color: #34ada1;
    border-color: #34ada1;
}

.active, .underline-btn a {
    font-size: 1.2rem;
    position: relative;
}

.active {
    transition: 0.4s linear;
}

.underline-btn a:hover {
    text-decoration: none;
}

.active:before, .underline-btn a:before {
    content: '';
    background-color: #34ada187;
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    z-index: -1;
    transform: scaleY(1);
    transition: 0.2s ease-in-out .2s;
}

.underline-btn a:before {
     margin-top: -10px;
}

.active:before {
    margin-bottom: 10px;
}

.active:hover:before, .underline-btn a:hover:before {
    transform: scaleY(1.5);
    transition: 0.2s ease-in-out .2s;
}

.btn-lang button.rounded-circle {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.3em;
    border: 2px solid;
    cursor: auto !important;
    font-weight: 500;
}

.btn-frame p {
    border-bottom: 2px solid #34ada1;
    font-weight: 500;
}

#skills, #skill .container {
    position: relative;
}

.bg-half {
    z-index: -1;
    position: absolute;
    width: 100%;
}

.heading-services {
    margin-bottom: 1.8rem;
}

.list-services li {
    font-size: 1.3rem;
    font-weight: 500;
    color: #343a40;
}

.card {
    border: 0;
}

#contact li {
    height: 29px;
    width: 29px;
}

.form-control:focus {
    border-color: #009688;
    box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.18);
}

.rotate-this {
    flex-direction: row;
    transition: 0.5s ease-in-out;
}

.rotated {
    display: flex;
    flex-direction: column !important;
    position: absolute;
    right: 0px;
    justify-content: space-between;
    min-height: 300px;
    top: 20px;
    transition: 0.2s ease-in-out;
}

.rotate {
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    transition: 0.2s ease-in-out;
    text-align: center;
}

#about-text {
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    
}

#about-text.visible {
    opacity: 1;
}

.wrapper span {
    display: block;
    -webkit-transform: translateY(20px) rotate(3deg);
    -ms-transform: translateY(20px) rotate(3deg);
    transform: translateY(20px) rotate(3deg);
    opacity: 0;
    -webkit-transition: transform 0.65s ease, opacity 0.65s ease;
    -o-transition: transform 0.65s ease, opacity 0.65s ease;
    -webkit-transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
    transition: opacity 0.65s ease, -webkit-transform 0.65s ease;
    transition: transform 0.65s ease, opacity 0.65s ease;
    transition: transform 0.65s ease, opacity 0.65s ease, -webkit-transform 0.65s ease;
}

.wrapper span:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.wrapper span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.wrapper span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.wrapper span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#about-text.visible .wrapper span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}

.card-img img {
    /*filter: gray; 
    -webkit-filter: grayscale(1); */
    /*-webkit-transition: all .8s ease-in-out;  */
}

.card-img img:hover {
    /*filter: none;
    -webkit-filter: grayscale(0);*/
    /*-webkit-transform: scale(1.01);*/
}

.card-img-overlay {
    opacity: 0;
    background-color: #34ada1;
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
}

.card:hover .card-img-overlay {
    opacity: 1;
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
}


.card-text:last-child {
    bottom: 0;
    position: absolute;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
.container {
    max-width: 1000px;
    }
}

@media (max-width: 780px) {
    .btn-lang button.rounded-circle {
        width: 4rem;
        height: 4rem;
    }

    .btn-frame li p {
        font-size: 1rem;
    }    
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
